<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><span class="hamburger">≡</span></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <ul id="main-menu" class="nav-list">
            <li><NavLink href="/" Match="NavLinkMatch.All" class="nav-link">Home</NavLink></li>
        </ul>
    </nav>
</div>

@code {
}
